body {
  background-color: rgb(168, 168, 168);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.options-container {
  border-style: solid;
  border-width: 4px;
}

.game-container {
  display: inline-flex;
  width: 100%;
  height: 100%
}

.game-half {
  width: 50vw;
}

label {
  font-family: monospace, Lucida Console;
}

.game-button {
  visibility: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.game-button:disabled {
  color: rgb(48, 48, 48);
}

.game-image {
  visibility: visible;
  width: 30vw;
  height: 30vw;
}

.game-image:hover {
  width: 31vw;
  height: 31vw;
}

.game-title {
  position: absolute;
  top: 42vw;
  visibility: visible;
  font-size: 18pt;
}

